{%load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <style>
            .center-div {
                margin-top: 100px; /* Adjust the margin-top value as needed */
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 center-div">
                    <div class="omb_login">
                        <!-- Login Form -->
                        <div class="row omb_row-sm-offset-3">
                            <div class="col-xs-12">
                                <form class="omb_loginForm" action="{% url 'accounts:login' %}" autocomplete="off" method="post">
                                    {% csrf_token %}
                                    {% comment %} {{ form.as_p }} {% endcomment %}
                                    <!-- Username -->
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" name="username" placeholder="Email Address / Username">
                                    </div>
                                    <!-- Password -->
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                    </div> 
                                    <!-- Login Button -->
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                                </form>
                                <!-- Remember Me & Forgot Password -->
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <label class="checkbox">
                                            <input type="checkbox" value="remember-me">Remember Me
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <p class="omb_forgotPwd">
                                            <a href="#">Forgot password?</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
    