<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    {{posts}}
    {% for post in posts %}
        {% if post.status == 0 %}
        <p>not published  yet</P>
        {%else%}
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        <small>{{post.published_date}}</small>
        {% endif %}
    {% endfor %}

</html>