{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>

<body>
    {% comment %} <h1>This is a testing page </h1>
    <p>test : {% totalposts as count %}</p>
    <p>count post :{{ count }}</p>
    <p>test : {% posts as post %}</p>
    {% for post in post %}
    <p> {{post}}</p>
    {% endfor %} {% endcomment %}


    {% comment %} {{posts}}
    {% for post in posts %}
    {% if post.status == 0 %}
    <p>not published yet</P>
    {%else%}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <small>{{post.published_date}}</small>
    {% endif %}
    {% endfor %} {% endcomment %}




    <form action="{% url 'website:test' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        {% comment %} <label>name:</label>
        <input name="name" type="text"><br> {% endcomment %}
        {% comment %} <label>email:</label>
        <input name="email" type="email"><br>
        <label>subject:</label>
        <input name="subject" type="text"><br>
        <label>message:</label>
        <input name="message" type="text"><br> {% endcomment %}
        <button type="submit">submit</button>
    </form>

</html>